    {{ if .HasShortcode "embed-pdf" }}
    <script type="text/javascript" src='/js/build/pdf.js'></script>

    <style>
        /* PDF embed shortcode */
        .pdf-canvas {
          border: 1px solid black;
          direction: ltr;
          width: 100%;
          height: auto;
          display: none;
        }

        .pdf-paginator {
          display: none;
          text-align: center;
          margin-top: 10px;
          margin-bottom: 10px;
        }

        .pdf-source {
          margin-left: 10px;
        }

        .pdf-loadingWrapper {
          display: none;
          justify-content: center;
          align-items: center;
          width: 100%;
          height: 350px;
        }

        .pdf-loading {
          display: inline-block;
          width: 50px;
          height: 50px;
          border: 3px solid #d2d0d0;;
          border-radius: 50%;
          border-top-color: #383838;
          animation: pdf-spin 1s ease-in-out infinite;
          -webkit-animation: spin 1s ease-in-out infinite;
        }

        @keyframes pdf-spin {
          to { -webkit-transform: rotate(360deg); }
        }
        @-webkit-keyframes pdf-spin {
          to { -webkit-transform: rotate(360deg); }
        }
    </style>
    {{ end }}
